<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Product list</h1>
<div>
    <form method="post">
        <input type="text" name="firstName" placeholder="Фамилия" />
        <input type="text" name="lastName" placeholder="Имя">
        <input type="text" name="region" placeholder="region">
        <input type="text" name="city" placeholder="city">
        <button type="submit">Добавить</button>
    </form>
</div>

<table>
    <tr>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>GUARD ITEMS</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.firstName}">Onions</td>
        <td th:text="${client.lastName}">2.41</td>
        <td>
            <p th:each="item : ${client.clientGuardItemCollection}">
                <span th:text="${item.region}">Onions</span>
                <span th:text="${item.city}">2.41</span>
            </p>
        </td>
    </tr>
</table>
</body>
</html>